.titre
{
    text-align: center;
    background-color: gray;
    padding: 3.5% 0%;
}

.LECENTRE
{
    text-align: center;
    background-color: green;
    padding: 20% 0%;
	margin-right: 15%;
	margin-left: 15%

}	

.PHOTO
{
	text-align: center;
    background-color: blue;
    padding: 1% 0%;
	height: 5px;
	position: relative;
	top: 40px; left: 40px;
	
}

.conteneur
{
    display:flex;
}
