* {
	padding: 0px;
	margin:0px;
	box-sizing:border-box;
}
.presentation
{
	background-color: grey;
	height: 100px;
	text-align: center;
}

.page
{
	display:flex;
	justify-content:center;
}

.LECENTRE
{
	background-color: green;
	width: 1000px;
	height: 1000px;
}	

.description
{
	display:flex;
	flex-direction:row;
	background-color: darkred;
}

.PHOTO
{
	width:20px;
}
.TITRE
{
	
}
.TEXTE
{
	
}
.OEUVRES
{
	
}
.FILTRE	
{
	
}

.CARRE1
{
	
}
.CARRE2
{
	
}
.CARRE3
{
		
}
.CARRE4
{

}
.CARRE5
{
		
}
.CARRE6
{
		
}


.conteneur
{
    
}
